* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1rem;
    color: #404040;
    text-align: center;
}

/* Typography */

h1 {
    font-size: 2.25 rem;
    font-weight: 300;
    color: #FFF;
    margin: 0;
}

h1 + p {
    color: #f18119;
    font-weight: 900;
    font-size: 1.3125rem;
    text-transform: uppercase;
    margin: 0;
}

h2 {
    font-size: 1.3125rem;
    margin: 0;
}

h2 + p {
    color: #f18119;
    font-weight: 900;
    font-size: 1rem;
    text-transform: uppercase;
    margin-top: 0;
}

.top-text {
    font-size: 0.625rem;
    margin: 0;
    padding: 2px;
    font-weight: 900;
    color: #f18119;
    text-transform: uppercase;
    order: -1;
    border-top: 5px solid #f18119;
    letter-spacing: 1.5px;
    /* border-image: linear-gradient(270deg, #FF895D 0%, #DF4E13 0%, #FFA51D 100%) */
}

.fine-print {
    font-size: 0.625rem;
    letter-spacing: 1px;
}

span {
    font-weight: 900;
}

/* Intro Section */

.intro {
    background-color: #404040;
    background-image: url("/images/ribs.jpg");
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    padding: 0 .5em 2em;
}

/* Main Content Section */

.main-content {
    padding: 2em .5em;
}

.container {
    max-width: 400px;
    margin: 0 auto;
}

.container-intro {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 50vh;
}

/* Form */

.email-collector {
    width: 80%;
    max-width: 300px;
}

input,
.btn {
    width: 100%;
    border-radius: 5px;
}

input {
    font-family: inherit;
    text-align: inherit;
    margin-bottom: .75em;
    padding: .5em;
    border: 1px solid #404040;
    transform: scale(1);
    transition: 500ms;
}

input:focus {
    transform: scale(1.1);
}

.btn {
    display: inline-block;
    padding: .75em 1.5em;
    font-size: .625rem;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 1px;
    border: 0;
    cursor: pointer;
}
.btn-primary {
    background-image: linear-gradient(270deg, #FF713B 0%, #FFA51D 100%);
    color: #ffffff;
    transform: scale(1);
    transition: 500ms;
}

.btn-primary:hover,
.btn-primary:hover {
    transform: scale(1.1);
}

/* input::placeholder {
    text-align: center;
} */

/* Media Queries */

@media (min-width: 376px) {
    body {
        font-size: 1.125rem;
        display: flex;
    }

    h1 {
        font-size: 3.5rem;
    }

    h2,
    h1 + p {
        font-size: 1.75rem;
    }

    .intro,
    .main-content {
        width: 50%;
        min-height: 100vh;
    }

    .main-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .container-intro {
        height: 100%;
    }
}